body {
    font-family: Arial, Helvetica, sans-serif, fantasy; 
    color: chartreuse;
    background-color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: aqua;
}

table {
    border: 2px dashed chartreuse;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: rgb(177, 12, 53);
}

td {
    border: 1px dashed rgb(177, 12, 53)
}

.code {
    font-family: Helvetica, sans-serif;
    background-color: aquamarine;
    color: black;
}
